
/*
Fonts
*/
@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face{
    font-family: "Lato";
    src: url('../fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 100;
}

/*
Template stuff
*/

body{
    background-color: #171719;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.testScroll{
    height: 5000px;
}

p{
    background: none;
}

.logo{
    background: none;
}

.palette{
    background-color: #171719;
    color: #f1f1f1;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sticky-nav .navbar-brand{
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/*
Navbar
*/

.navbar{
    background-color: #171719;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}

.navbar .custom-nav{
    background-color: #171719;
    z-index: 9999;
    border: 0;
    font-size: 1.75vh !important;
    letter-spacing: .1vw;
    border-radius: 0;
    margin-left: 2vh;
    align-items: center;
    height: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar-nav li a{
    color: #f1f1f1;
}

.navbar-brand{
    color: #f1f1f1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.navbar-header .navbar-brand:hover{
    color: #f1f1f1;
}

.navbar-header .navbar-brand:hover{
    color: #ffffff;
}

.navbar-nav li a:hover,
.navbar-nav li.active a,
.navbar-nav li a:focus{
    color: #ffffff !important;
    background-color: #171719 !important;
}

.navbar-nav li a {
    position: relative;
    color: #f1f1f1 !important;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
}

.navbar-nav li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f1f1f1;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.navbar-nav li a:hover::after {
    width: 60%;
    left: 20%;
}

/*
Drop down in nav
*/

.portDrop .dropdown-menu{
    border: none;
    color: #ffffff !important;
    background-color: #171719 !important;
    min-width: fit-content;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.portDrop .dropdown-menu a:hover{
    background-color: #171719 !important;
}

.portDrop .dropdown-toggle {
    background-color: #171719 !important;
    color: #f1f1f1 !important;
    border: none !important;
}

.portDrop .dropdown-toggle:hover,
.portDrop .dropdown-toggle:focus,
.portDrop .dropdown-toggle:active{
    background-color: #171719 !important;
    color: #ffffff !important;
}

/*
Jumbotron
*/

.homeHeader {
    margin-top: 0;
    text-align: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.homeHeader h1{
    font-size: 5vh;
}

.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
}

/*
Carousel
*/

.carousel {
    width: 100%;
    height: 80vh;
    background-color: #171719;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel-inner .item {
    width: 100%;
    height: 100%;
}

.carousel-inner .item .row {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.carousel-inner .item .col-sm-6 {
    width: 50%;
    padding: 0;
    overflow: hidden;
}

.carousel-inner .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    background: transparent;
}

.glyphicon-chevron-right{
    visibility: hidden;
}

.glyphicon-chevron-left{
    visibility: hidden;
}

.carousel-indicators{
    color: #f1f1f1;
}

.carousel-indicators li {
    background-color: #f1f1f1;
}

.carousel-indicators .active {
    background-color: #f1f1f1;
}

/*
Containers
*/

.msgCont{
    align-content: center;
    text-align: center;
    font-size: 5vh;
    height: 30vh;
    width: 100%;
    color: #f1f1f1;
}

.msgCont .pagination,
.msgCont .pagination a{
    font-size: 4vh;
    color: #f1f1f1 !important;
    background-color: #171719 !important;
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
}


.msgCont .pagination li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #f1f1f1;
    color: white;
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.msgCont .pagination li a:hover::after {
    width: 60%;
    left: 20%;
    color: white;
}

.footerCnt{
    background-color: #2b2b2b;
    width: 100%;
    margin-top: 7vh;
}

.prtCont{
    display: flex;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

/*
Image divs
 */

.miniGallery .img-thumbnail{
    background-color: #f1f1f1;
    border: 0;
}

.miniGallery{
    align-items: center;
    justify-content: center;
    align-content: center;
}

.miniGallery .mgRow{
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
}

.miniGallery .mgRow img{
    height: 40vh;
    width: max-content;
    margin: 1vh;
    object-fit: cover;
    padding: .5vh;
}

.prtBanner{
    height: 100vh;
    max-width: 100%;
    background-color: #171719;
    margin: 0;
    padding: 0;
    object-fit: fill;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/*
Lightbox
*/

#lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 1vh solid #f1f1f1;
    transition: transform 0.2s ease-in-out;
}

/*
Portfolio hover
 */
.hover-text {
    gap: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .9);
    padding: 0;
    color: #f1f1f1;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: min(5vh, 5vw);
}

.prtBanner:hover .hover-text {
    opacity: 1;
}

.prtBanner a{
    margin: 0;
    padding: 0;
    gap: 0;
    border: none;
}